#container {
    width: 80%;
    height: 90%;
    max-width: 80%;
    min-width: 80%;
    float: right;
}

#content {
    width: 99%;
    height: 90%;
    border-style: solid;
    border-width: 2;
    max-height: 90%;
    overflow: auto;
    max-width: 100%;
}

#fileContent {
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    resize: none;
}

.button {
    padding: 2px;
    margin: 5px;
}

.hidden {
    visibility: hidden;
}

div[aria-describedby=dialog-message] { 
    right:0;
    margin:auto;
}

div[aria-describedby=add-dialog] { 
    right:0;
    margin:auto;
    width:580px;
}

#add-dialog .example {
	width: 30%;
    max-width: 30%;
    max-height: 80%;
    height: 80%;
}

#addFileFields{
	float: left;
    margin-top: 30px;
    margin-left: 15px;
}

.highlighted {
	background-color:#FF8C00;
}